<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Let's Talk" %></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans" rel="stylesheet">
    <%= favicon_tag 'images/favicon-32x32.png' %>
    <%= stylesheet_link_tag "site" %>
    <%= google_analytics_tag %>
  </head>

  <body>

    <%= partial  "partials/navigation" %>

    <main class="wrapper">

      <%= yield %>

      <%= partial "partials/footer" %>

      <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

      <%= javascript_include_tag "site" %>

    </main>

  </body>

</html>
