---
title: Let´s Talk - Mensajería instantánea para grandes empresas
---


<section class="section p-relative" id="featured">
  <script>
  function onSubmit(token) {
    document.getElementById("contact-form").submit();
  }
  function onSubmit2(token) {
    document.getElementById("contact-form-2").submit();
  }
</script>
  <div class="container container-lg">

    <div class="row">
      <div class="col col-sm-7">
        <h1 class="type-jumbo"><%= data.notifications.title %></h1>

        <ol class="my-x4 text-secondary">
          <% data.notifications.benefits.each do |b| %>
          <li class="mb-x2"><%= b %></li>
          <% end %>
        </ol>

        <form id="contact-form" action="https://getsimpleform.com/messages?form_api_token=cb90dccbbb9b5131b218888d68e086f6" method="post">
          <input type='hidden' name='redirect_to' value='<%= config.base_url %>thanks' />
          <input placeholder="<%= data.home.cta.placeholder %>" class="form-input input-large radius-left col col-6" type='email' name="contact" />
          <input type='hidden' name='form-id' value="contact-form-notifications" />

          <button type='submit' class="button button-secondary button-large radius-right g-recaptcha" data-sitekey="6LeJ4Z4UAAAAAPZ-TBQtNEnyvKkLvG21WcYbFcwn" data-callback='onSubmit'><%= data.home.cta.action %>
          </button>

        </form>

        <%= link_to(
          "¿Quieres conocer mas sobre Let´s Talk?",
          "#overview"
        ) %>
      </div>
      <div class="col col-sm-5 p-relative">
        <%= image_tag 'graphic-webchat.png', class: 'graphic-webchat image-2x' %>
      </div>
    </div>

  </div>

  <%= image_tag 'graphic-background-top.svg', class: 'graphic-background-top image-2x' %>

</section>



<section class="section" id="overview">
  <div class="container container-lg">

    <div class="row">
      <div class="col col-sm-8 pr-0">
        <h2 class="type-display mb-x15"><%= data.notifications.headline %></h2>
      </div>
      <div class="col col-sm-4 p-relative">
        <%= image_tag 'graphic-overview.svg', class: 'graphic-overview image-2x' %>
      </div>
    </div>

    <ul class="row">
      <% data.notifications.overview.each do |item| %>
      <li class="col col-sm-6 list-unstyled mb-x10">
        <h3 class="type-headline"><%= item.title %></h3>
        <p><%= item.description %></p>
        <%= link_to( item.action, item.url ) %>
      </li>
      <% end %>
    </ul>

  </div>
</section>



<section class="section" id="contact">
  <div class="container container-lg">

    <div class="row">

      <div class="col col-sm-6">
        <h2 class="type-mega"><%= data.notifications.contact.title %></h2>
        <p>
          <%= data.notifications.contact.description %>
          <%= link_to( data.notifications.contact.action, data.notifications.contact.url ) %>
        </p>
        <form id="contact-form-2" action="https://getsimpleform.com/messages?form_api_token=cb90dccbbb9b5131b218888d68e086f6" method="post">
          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <input type='hidden' name='redirect_to' value='http://ltb.im/thank.html' />
          <input class="form-input input-large u-full-width" name="name" type="text" placeholder="<%= data.home.contact.form.name %>">
          <input class="form-input input-large u-half-width" name="email" type="email" placeholder="<%= data.home.contact.form.email %>"> o
          <input class="form-input input-large u-half-width" name="telefono" type="tel" placeholder="<%= data.home.contact.form.phone %>">
          <input class="form-textarea input-large u-full-width" name="mensaje" type="text" placeholder="<%= data.home.contact.form.message %>">
          <input type='hidden' name='form-id' value="contact-form-2-notifications" />
          <button type='submit' class="button button-secondary button-large g-recaptcha" data-sitekey="6LeJ4Z4UAAAAAPZ-TBQtNEnyvKkLvG21WcYbFcwn" data-callback='onSubmit2'><%= data.home.contact.form.submit %></button>
        </form>
      </div>

      <div class="col col-sm-6 p-relative">
        <%= image_tag 'graphic-contact.svg', class: 'graphic-contact image-2x' %>
      </div>

    </div>

  </div>
</section>
